/*Style Sheet*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main_div {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #000;
	display: grid;
	place-items: center;
	z-index: 999999;
}

.center_div {
	width: 15rem;
	height: 15rem;
	position: relative;
}

.rot {
	width: 15rem;
	height: 15rem;
	position: absolute;
	border-right: 0.3rem solid #fff;
	border-radius: 50%;
	animation: rot 2s linear infinite;
}

@keyframes rot {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-family: "Fredoka One", cursive;
}

body {
	font-family: 'Poppins', 'sans-serif';
}

.header {
	background: radial-gradient(#fff, #ffd6d6);
}

.containerss {
	max-width: 1300px;
	height: auto;
	min-height: 40vh;
	max-height: 150vh;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.banner img {
	width: 100%;
	height: auto;
	min-height: 30%;
	max-height: 100%;
	padding: 50px 0;
}

.banner h1 {
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}

p {
	color: #555;
}

/* TEXT*/
.main{
	height: auto;
	width: 80%;
	margin: auto auto;
	top: 50%;
	transform: translateY(-50%);
	
}
.main  h1{
     width: 100%;
     font-weight: 700;
     letter-spacing: 5px;
 }

.main h1 .sub_main{
	margin: 0;
	
	height: auto;
	width: auto;
	height: 65px;
	z-index: -1;
	color: #f01cb5;
	overflow: hidden;
}
.main h1 .sub_main ul{
	margin: 0 0.5%;
	padding: 0;
	text-align: left;
	animation: animate 6s linear infinite;
	margin-left: 2%;

}
@keyframes animate{
0%{
	transform:  translateY(0px);
}	
30%{
	transform:  translateY(0px);
}
40%{
	transform:  translateY(-65px);
}
65%{
	transform:  translateY(-65px);
}
75%,100%{
	transform:  translateY(-130px);
}

}
.main h1 .sub_main ul li{
	list-style-type: none;
	height: 65px;
}
.main p{

font-size: 1.5em;
font-weight: 500;
color: #000;
letter-spacing: 5px;
}

/*Text*/


.btn1 {
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}

.btn1:hover {
	background: #563434;
	color: #fff;
	text-decoration: none;
}

.bottom-img {
	width: 100%;
}

.header .row {
	margin-top: 20px;
}

#services {
	padding: 80px 0;
}

.service-img {
	width: 100%;
	margin-top: 20px;
}

.service {
	padding: 20px;
}

.service h4 {
	padding: 5px;
	margin-top: 25px;
	text-transform: uppercase;
}

.title::before {
	content: '';
	background: #ff523b;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}

.title::after {
	content: '';
	background: #ff523b;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}

.carousel-inner img {
	width: 100%;
	height: 50vh;
}

.offer {
	background: radial-gradient(#fff, #ffd6d6);
	margin-top: 80px;
	padding: 30px 15px;
	height: 100%;
}

.offer-img {
	width: 500px;
	padding: 50px 0;
}

.contact {
	background: #F7F4F3;
	padding-bottom: 20px;
}

#footer {
	background: black;
	color: white;
	padding-top: 30px;
	padding-bottom: 20px;
}

/*.ca--1{
opacity: 0;
}
.ca--1 .animated{
opacity: 1;
}*/

/*---------About Page Design-----------*/
.about {
	background-image: url("bgrd_temp.png");
	color: #fff;
	padding-top: 80px;
	padding-bottom: 80px;
}

.about p {
	color: #fff;
}

.ab_title::before {
	content: '';
	background: #fff;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}

.ab_title::after {
	content: '';
	background: #fff;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}

.ab-text {
	padding: 20px 30px;
}

/*----------- Contact Us Page--------------*/
.contactus {
	background-image: url("bgrd1.jpg");
	padding-top: 80px;
	padding-bottom: 80px;
}

.contactfrm {
	background: rgba(0, 0, 0, .6);
	color: #fff;
	padding-bottom: 20px;
}
